.btn-search, .btn-add, .btn-create {
    display: block;
    margin-bottom: 25px;
    height: 50px;
}

.btn-search {

    font-weight:800;
    width: 100px;
    border-radius: 50px;
    border: 2px solid darkcyan;
    background-color: white;
    color:darkcyan;

}

.btn-add {

    font-weight: 600;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: teal;
    color: white;
}

.btn-create {
    font-weight: bold;
    width: 200px;
    border: 2px solid black;
    background-color:royalblue;
    color:white;
    box-shadow: 10px 5px 5px black;
    
}